* {
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 153, 151);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: rgb(80, 12, 44);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    min-width: 500px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(109, 89, 28);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pw button {
    background-color: white;
    border:  solid 1px blanchedalmond;
    color: red;
    cursor: pointer;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    background-color:antiquewhite;
    transform: translate(0, 0%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #ecb602;
    border: none;
    color: red
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}